
<table class="table">
	<thead>
		<tr>
			<th>Batsman</th>
			<th>R</th>
			<th>B</th>
			<th>4s</th>
			<th>6s</th>
			<th>SR</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Sikandar Raza</td>
			<td>58</td>
			<td>88</td>
			<td>7</td>
			<td>0</td>
			<td>65.91</td>
		</tr>
		<tr>
			<td>Ryan Burl</td>
			<td>58</td>
			<td>88</td>
			<td>7</td>
			<td>0</td>
			<td>65.91</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>Extras</th>
			<th colspan=5>7(b 4, lb3, w0 nb 0, p 0)</th>
		</tr>
		<tr>
			<th>Total</th>
			<th colspan=5>169 (10 wkts, 42 Ov)</th>
		</tr>
	</tfoot>
</table>
<table class="table">
	<thead>
		<tr>
			<th>Bowler</th>
			<th>O</th>
			<th>M</th>
			<th>R</th>
			<th>W</th>
			<th>ECO</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Calum MacLeod</td>
			<td>5</td>
			<td>0</td>
			<td>21</td>
			<td>0</td>
			<td>4.20</td>
		</tr>
		<tr>
			<td>Alasdair Evans</td>
			<td>5</td>
			<td>0</td>
			<td>21</td>
			<td>0</td>
			<td>4.20</td>
		</tr>
	</tbody>
</table>